<div class="overview-wrap clear" ng-controller="overViewCtrl">

    <!--光伏板块end-->
    <div class="overview-header" ui-sref="list">
        <!--<span class="project">上海耀阳分布式电站项目</span>-->
    </div>
    <!--燃气能源-->
    <div class="overview-body c2 animated"
         ng-class="{'fadeInRight':temp.viewRadio === '2',
                      'fadeOutLeft':temp.viewRadio === '1'}"
    >
        <div class="overview-flt"></div>
        <div class="overview-frt"></div>
        <div class="overview-center"></div>
    </div>
    <!--燃气能源end-->
    <!--光伏板块-->
    <div class="overview-body c1 animated"
         ng-class="{'fadeInRight':(temp.viewRadio === '1' && temp.default !=='default'),
                      'fadeOutLeft':temp.viewRadio === '2'}">

        <div class="overview-flt">
            <div class="h-70"></div>
            <div class="overview-item" >
                <div class="overview-item-header " data-name="上海耀阳分布式电站项目">
                    <i class="iconfont icon-dashboard"></i>
                    <span class="text">PR值(系统发电效率)</span>
                </div>
                <div class="overview-item-wrap">
                    <div class="overview-item-content">
                        <div class="overview-circle-bg"></div>
                        <div class="overview-circle-point " style="transform: rotate({{temp.rotate}}deg)"></div>
                        <span class=overview-circle-num><b class="num">89</b><b class="unit">%</b></span>
                    </div>
                </div>

            </div>
            <div class="overview-item">
                <div class="overview-item-header">
                    <i class="iconfont icon-money"></i>
                    <span class="text">收益统计</span>
                </div>
                <div class="overview-item-wrap">
                    <div class="overview-item-content">
                        <p class="salary">今日<i class="iconfont icon-shouyi text-info m-l-xs"></i>
                            <span class="salary-span">888</span>元</p>
                        <p class="salary">累计<i class="iconfont icon-shouyi1 text-info m-l-xs"></i>
                            <span class="salary-span">899888</span>元</p>

                        <img  src="src/img/chart1.png" class="m-t-lg" width="100%" alt="">

                        <!--<div id="salary" style="width: 100%;height: 250px;"></div>-->
                    </div>
                </div>

            </div>
            <div class="overview-item">
                <div class="overview-item-header">
                    <i class="iconfont icon-fadiannengli"></i>
                    <span class="text">功率和发电量</span>
                </div>
                <div class="overview-item-wrap">
                    <div class="overview-item-content bfc">
                        <div class="radio-control-content animated"
                             ng-class="{'fadeInRight':(temp.powerRadio === '1'  ),
                      'fadeOutLeft':temp.powerRadio === '2'}">
                            <p class="text-center"><span>当前功率:</span><span>1988</span><span>w</span></p>
                            <div id="power" style="width: 100%; height:250px;">

                            </div>
                        </div>
                        <div class="radio-control-content second  animated"
                             ng-class="{'fadeInRight':(temp.powerRadio === '2'  ),
                      'fadeOutLeft':temp.powerRadio === '1'}">
                            <p class="text-center"><span>总发电量:</span><span>9882</span><span>kWh</span></p>
                            <div id="power0" style="width: 100%; height:250px;">

                            </div>
                        </div>

                        <p class="radio-wrapper">
                       <span class="radio-item">
                            <input class="radio-input"
                                   type="radio"
                                   value="1"
                                   name="power"
                                   ng-model="temp.powerRadio"

                                   checked>
                           <label class="radio-label">当前功率</label>
                       </span>
                            <span class="radio-item">
                           <input class="radio-input"
                                  type="radio"
                                  value="2"
                                  ng-model="temp.powerRadio"
                                  name="power"
                           >
                            <label class="radio-label">当前发电量</label>
                       </span>

                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="overview-frt">
            <div class="h-70"></div>
            <div class="overview-item" data-name="上海耀阳项目">
                <div class="overview-item-header "  >
                    <i class="iconfont icon-clock"></i>
                    <span class="text">资产管理</span>
                </div>
                <div class="overview-item-wrap">
                    <div class="overview-item-content">
                        <ul class="manage-ul">
                            <li class="manage-li" ui-sref="app.moduleList">
                                <h2 class="manage-value">7689988</h2>
                                <p class="manage-p">组件（个）</p>
                            </li>
                            <li class="manage-li" ui-sref="app.equipList">
                                <h2 class="manage-value">192</h2>
                                <p class="manage-p">逆变器（个）</p>
                            </li>
                            <li class="manage-li">
                                <h2 class="manage-value">1</h2>
                                <p class="manage-p">直流柜（个）</p>
                            </li>
                            <li class="manage-li">
                                <h2 class="manage-value">3</h2>
                                <p class="manage-p">汇流箱（个）</p>
                            </li>
                            <li class="manage-li">
                                <h2 class="manage-value">282</h2>
                                <p class="manage-p">直流电缆（条）</p>
                            </li>
                            <li class="manage-li">
                                <h2 class="manage-value">182</h2>
                                <p class="manage-p">交流电缆（条）</p>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="overview-item">
                <div class="overview-item-header ">
                    <i class="iconfont icon-jienengliang"></i>
                    <span class="text">节能减排数据</span>
                </div>
                <div class="overview-item-wrap">
                    <div class="overview-item-content">
                        <div class="env-data">
                            <div class="env-img-div">
                                <img src="src/img/co2.png" class="env-img" alt="env">
                            </div>

                            <div class="bfc env-bfc">
                                <div class="value-wrap">
                                    <span class="value">34</span> <span>千克</span>
                                </div>
                                <p class="text">CO<sub>2</sub>减排量</p>
                            </div>
                        </div>
                        <div class="env-data">
                            <div class="env-img-div">
                                <img src="src/img/so2.png" class="env-img" alt="env">
                            </div>

                            <div class="bfc env-bfc">
                                <div class="value-wrap">
                                    <span class="value">34</span><span>千克</span>
                                </div>
                                <p class="text">SO<sub>2</sub>减排量</p>
                            </div>
                        </div>
                        <div class="env-data">
                            <div class="env-img-div">
                                <img src="src/img/tree.png" class="env-img" alt="env">
                            </div>

                            <div class="bfc env-bfc">
                                <div class="value-wrap">
                                    <span class="value">34</span><span>棵</span>
                                </div>
                                <p class="text">保护森林</p>
                            </div>
                        </div>
                        <div class="env-data">
                            <div class="env-img-div">
                                <img src="src/img/oil.png" class="env-img" alt="env">
                            </div>

                            <div class="bfc env-bfc">
                                <div class="value-wrap">
                                    <span class="value">34</span><span>千克</span>
                                </div>
                                <p class="text">节约用油</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="overview-item">
                <div class="overview-item-header ">
                    <i class="iconfont icon-gaojing"></i>
                    <span class="text">告警信息</span>
                </div>
                <div class="overview-item-wrap">
                    <div class="overview-item-content bfc">
                        <div class="radio-control-content animated"
                             ng-class="{'fadeInRight':(temp.warningRadio === '1'  ),
                      'fadeOutLeft':temp.warningRadio === '2'}"
                        >
                            <ul class="da-rank-ul">
                                <li class="da-rank-li ">
                                    <div class="da-rank-txt">
                                        <span class="no">1</span>
                                        <span class="sn">210107302310HC000315</span>
                                        <span class="num"> 告警次数<b class="num-b">5</b><b class="num-b">次</b></span>
                                    </div>
                                    <div class="process-wrap">
                                        <span class="process-active" style="width:80%"></span>
                                    </div>
                                <li class="da-rank-li ">
                                    <div class="da-rank-txt">
                                        <span class="no">2</span>
                                        <span class="sn">210107302310HC000315</span>
                                        <span class="num"> 告警次数<b class="num-b">5</b><b class="num-b">次</b></span>
                                    </div>
                                    <div class="process-wrap">
                                        <span class="process-active" style="width:80%"></span>
                                    </div>
                                <li class="da-rank-li ">
                                    <div class="da-rank-txt">
                                        <span class="no">3</span>
                                        <span class="sn">210107302310HC000315</span>
                                        <span class="num"> 告警次数<b class="num-b">5</b><b class="num-b">次</b></span>
                                    </div>
                                    <div class="process-wrap">
                                        <span class="process-active" style="width:80%"></span>
                                    </div>
                                <li class="da-rank-li ">
                                    <div class="da-rank-txt">
                                        <span class="no">4</span>
                                        <span class="sn">210107302310HC000315</span>
                                        <span class="num"> 告警次数<b class="num-b">5</b><b class="num-b">次</b></span>
                                    </div>
                                    <div class="process-wrap">
                                        <span class="process-active" style="width:80%"></span>
                                    </div>
                                <li class="da-rank-li ">
                                    <div class="da-rank-txt">
                                        <span class="no">5</span>
                                        <span class="sn">210107302310HC000315</span>
                                        <span class="num"> 告警次数<b class="num-b">5</b><b class="num-b">次</b></span>
                                    </div>
                                    <div class="process-wrap">
                                        <span class="process-active" style="width:80%"></span>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="radio-control-content second animated"
                             ng-class="{'fadeInRight':temp.warningRadio === '2',
                      'fadeOutLeft':temp.warningRadio === '1'}"

                        >
                            <div id="warning" style="width: 100%;height: 280px;"></div>
                        </div>
                        <p class="radio-wrapper">
                       <span class="radio-item">
                            <input class="radio-input"
                                   type="radio"
                                   value="1"
                                   name="warning"
                                   ng-model="temp.warningRadio"
                            >
                           <label class="radio-label">告警排行</label>
                       </span>
                            <span class="radio-item">
                           <input class="radio-input"
                                  type="radio"
                                  value="2"
                                  ng-model="temp.warningRadio"
                                  name="warning">
                            <label class="radio-label">告警统计</label>
                       </span>

                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="overview-center">
            <div class="house-bg">
                <!--<div id="button" style="width: 200px;cursor:pointer;">点击导出</div>-->
            </div>
        </div>
    </div>

    <!--view切换-->
    <p class="radio-wrapper bg">
                       <span class="radio-item">
                            <input class="radio-input"
                                   type="radio"
                                   value="1"
                                   name="view"
                                   ng-model="temp.viewRadio"
                                   ng-change="changDefault(1)"
                            >
                           <i class="radio-i iconfont icon-guangfuban"
                              ng-class="{'active':temp.viewRadio === 'default' || temp.viewRadio == '1' }"
                           ></i>
                       </span>
        <span class="radio-item">
                           <input class="radio-input"
                                  type="radio"
                                  value="2"
                                  ng-model="temp.viewRadio"
                                  ng-change="changDefault(2)"
                                  name="view">
                            <i class="radio-i iconfont icon-huo"
                               ng-class="{'active':temp.viewRadio == '2' }"
                            ></i>
                       </span>

    </p>
</div>