html,
body {
  height: 100%;
  font-size: 14px;

}
p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
i:focus {
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  min-width: 1366px;
  margin: 0;
  background-color: #0d61db;
  color:#fff;
  font-size: 14px;
  font-family: "Microsoft Yahei", "微软雅黑",sans-serif,"Signika", Arial, Helvetica ;


}
a,a:hover,a:link {
  color:#fff;
}
a:link {
  text-decoration: none;
}

input {
  border:none ;
  font-size: inherit;
}
input:focus {
  outline: none
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #f7f7f7;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #f7f7f7;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #f7f7f7;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #f7f7f7;
}

.simple-input {
  //height: 30px;
  //max-width: 50px;
  padding: 2px 0 2px 5px;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid @brand-info;
  text-align: center;
  color:#fff;
}

//
// Tables
// --------------------------------------------------




th {
  text-align: left;
}
th.tc,
td.tc{
  text-align: center;
}

// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  border-collapse:collapse;
  color:#d1d6d8;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        line-height: @line-height-base;
        vertical-align: top;
        border-bottom: 1px solid @table-border-color;
      }
    }
  }
  > thead {
    background-color: rgba(11,60,145,.4);
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none;
    color:@brand-info;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid @table-border-color;
  }

  // Nesting
  .table {
    //background-color: @body-bg;
  }
}


// Condensed table w/ half padding

.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-condensed-cell-padding;
      }
    }
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid @table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid @table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: @table-bg-accent;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: @table-bg-hover;
  }
}


// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants



// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

