@brand-primary:         #3448a1;
@brand-info:            #22ffff;
@brand-success:         #27c24c;
@brand-warning:         #f7f815;
@brand-danger:          #f05050;
@brand-light:           #edf1f2;
@brand-dark:            #3a3f51;
@brand-black:           #1c2b36;
@border-color:		  	    darken(@brand-light, 5%);
@body-bg:               lighten(@brand-light, 1%);
@text-color:            #58666e;
@text-muted:            lighten(@text-color, 25%);
@line-height-base:        1.42857143; // 20/14

@btn-default-color:              @text-color;
@btn-default-border:             @border-color;
@btn-default-bg:                 lighten(@brand-light, 5%);
@btn-border-radius:   2px;
@border-radius-base:  2px;
